.paragraph {
    font-size: 38px;
    line-height:55px;
    font-family: 'Dancing Script', cursive;
    font-family: 'Sacramento', cursive;
    font-family: 'Tangerine', cursive;
    text-align: center;
}
h1 {
    font-size: 40px;
    line-height:60px;
    font-family: 'Special Elite', cursive;
 }